<form class="container col-4 md-4" action="/products/add-product" method="POST">
    <h1 align="center">Add Gadgets</h1>
    <div class="form-group">
        <label for="_id">Sl.No</label>
        <input type="number" class="form-control" name='_id' id="_id" aria-describedby="_id" placeholder="Product Id">
    </div>
    <div class="form-group">
        <label for="pName">Product</label>
        <input type="text" class="form-control" name='pName' id="pName" placeholder="Product Name">
    </div>
    <div class="form-group">
        <label for="pDesc">Description</label>
        <input type="text" class="form-control" name='pDesc' id="pDesc" placeholder=" ProductDescription">
    </div>
    <div class="form-group">
        <label for="pPrice">Price</label>
        <input type="number" class="form-control" name='pPrice' id="pPrice" placeholder=" Product Price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>